.inputt {
    width: 35%;
    height: 32px;
    border: 1px solid #84C1FF;
    /*设置边框圆角*/
    border-radius: 5px;
    padding-left: 10px;
}

.inputt_double {
    width: 65%;
    height: 32px;
    border: 1px solid #84C1FF;
    /*设置边框圆角*/
    border-radius: 5px;
    padding-left: 10px;
}

.panel-control {
    position: absolute;
    opacity: 0;
}

.tab-group label {
    width: 17.5%;
    display: inline-block;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: gray;
    bottom: -6px;
    position: relative;
}

.content-group {
    border: 1px solid #ccc;
    padding: 20px;
}

.content {
    display: none;
}

#radio1:checked~.tab-group [for="radio1"],
#radio2:checked~.tab-group [for="radio2"],
#radio3:checked~.tab-group [for="radio3"],
#radio4:checked~.tab-group [for="radio4"] {
    background-color: #fff;
}

#radio1:checked~.content-group .content1,
#radio2:checked~.content-group .content2,
#radio3:checked~.content-group .content3,
#radio4:checked~.content-group .content4 {
    display: block
}

.center {
    text-align: center;
}

@media (max-width: 767px) {
    .rwd_word {
        font-size: 5px;
    }
}

@media (max-width: 575px) {
    .rwd_word {
        font-size: 3px;
    }

    .inputt {
        width: 35%;
        height: 24px;
        border: 1px solid #84C1FF;
        /*设置边框圆角*/
        border-radius: 5px;
        padding-left: 10px;
    }

    .inputt_double {
        width: 65%;
        height: 24px;
        border: 1px solid #84C1FF;
        /*设置边框圆角*/
        border-radius: 5px;
        padding-left: 10px;
    }
}

@media (max-width: 420px) {
    .crawll {
        /* text-indent:-9999px; */
        width: 80%;

    }
}